.container{
	background-color:#eee;
	padding:20px;
	overflow:auto;
}


.group{
	float:left;
	width:200px;
	padding:20px;
	background-color:white;
	border:solid black 1px;
}

.group p{
	float:right;
}

.group img{
	float:left;
	
}

.introduction{
	margin-left:260px;
	margin-right:140px;
	padding:20px;
	background-color:white;
	border:solid black 1px;
}

.groupmember{
	float:right;
	width:120px;
	background-color:white;
	border:solid black 1px;
}

.groupmember img{
	padding:20px;
}